@import "./layout.scss";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
//buscar fitler imagen 
//imagen clipping 
//movil 
body{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
div:nth-child(2){
    background-image: url("../img/megoc1.jpg");
    background-size: cover;
    
}
div:nth-child(3){
    background-image: url("../img/megoc2.jpeg");
    background-size: cover;
}
div:nth-child(4){
    background-image: url("../img/megoc3.jpg");
    background-size: cover;
}
div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 33vh;
    background-color: red;
    text-align: center;
    h1{
        color: red;
        font-family: 'Anton', sans-serif;
                font-weight: bolder;
        border-radius: 4rem;
        -webkit-text-stroke: 2px white;
        font-size: 3rem;
        text-shadow: 0.4rem 0.4rem 0.4rem 0.4rem;
        letter-spacing:0.3rem;
    }
}
div>div{
    backdrop-filter: blur(2px);

}
aside{
    transition: all 1s ease-in-out;
    position: absolute;
    top: 25%;
    left: 0%;
    animation: animacionmov 1s 0.5s forwards ease-in-out;
    transform: scale(1);
    img{
        width: 100%;
        height: 100%;
    }
}
@keyframes animacionmov {
    from{
        transform: translateY(0) scale(1);
    }
    20%{
        transform: scale(2) translateX(1rem);
    }
    99%{
        transform: scale(200) translateX(1rem);
    }
    to{
        transform: translateY(50rem) scale(0); 
    }
    
}
//pc
@media (min-width: 768px){

body{
    transition:all 1s ease;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    div{
        height: 100vh;
    }
}
aside{
    top: 5%;
    left: 15%;
    animation: animacionpc 1s 0.5s forwards ease-in-out;

}
@keyframes animacionpc {
    from{
        transform: translateY(0) scale(1);
    }
    20%{
        transform: scale(2) translateX(2rem);
    }
    99%{
        transform: scale(200) translateX(3rem);
    }
    to{
        transform: translateY(50rem) scale(0); 
    }
    
}

}